.AppMpa {
  width: 100%;
  text-align: center;
  vertical-align: top;
  background-color: white;
  overflow: hidden;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.MenuMpa {
  width: 100%;
  max-width: 800px;
  text-align: center;
  min-width: 375px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  /* margin: 0%; */
  height: 500px;
  border-radius: 10px;
  /* background-color: lightseagreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MenuMpa input,
button {
  background-color: rgb(182, 223, 248);
  /* width: 750px; */
  /* height: 50px; */
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 600;
}

.startBtnMpa {
  width: 90%;
  max-width: 400px;
  height: 100px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 600;
  background-color: #ececec;
}
.startBtnMpa:hover {
  cursor: pointer;
  color: black;
  background-color: #dedede;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
}

/* .questionsMpa {
  width: 100%;
} */

.optionSelectMpa {
  width: 95%;
  background-color: darkgray;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}
.optionSelectMpaClick {
  width: 95%;
  background-color: blue;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
.optionSelectMpaClick:hover {
  width: 95%;
  background-color: blue;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
.optionSelectMpa:hover {
  width: 95%;
  background-color: blue;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.QuizMpa {
  width: 800px;
  min-width: 300px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: 10px solid #dedede;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionsLineMpa {
  width: auto;
  text-align: center;
  overflow-wrap: break-word;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.MenuMpa,
.QuizMpa,
.EndScreenMpa h1 {
  color: #dedede;
}

.EndScreenMpa {
  width: 100%;
  min-width: 375px;
  height: auto;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

#nextQuestionMpa {
  /* width: 200px; */
  width: 100%;
  min-width: 300px;
  font-weight: 600;
  font-size: 20px;
}

h3 {
  color: #ffffff;
}
